// Specific CSS for your home-page
.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-right: 20px;
}

.title {
  text-align: center;
  margin: 30px 0;
}


// Cards

.all-toilets {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin: 0px 20px 20px;
  align-content: start;
}

.home-card-toilet {
  overflow: hidden;
  height: 150px;
  width: 100%;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.home-card-toilet:hover {
  box-shadow: 0 0 0px rgba(0,0,0,0);
  opacity: 0.9;
  text-decoration: none;
}

.all-toilets a:hover {
  text-decoration: none;
}

.home-card-toilet h2 {
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.home-card-toilet p {
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px;
  color: black;
}

.home-card-toilet .home-card-toilet-infos {
  padding: 16px;
}

.home-card-category {
  height: 100%;
  width: 20%;
  background-size: cover;
  background-position: center;
  text-align: center;
}




