.body {
  display: flex;
  justify-content: center;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 30px 30px 50px 30px;
}

.form {
  width: 50%;
}

.simple_form.new_toilet {
  input[type="file"]{
    display: none;
  }
  label[for="toilet_image"]{
    background-color: white;
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px;
    box-shadow: 0px 0px 15px lightgrey;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    &:hover{
      box-shadow: 0px 0px 0px lightgrey;
    }
  }
}

