.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #007CFF;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #007CFF;
  opacity: 0.6;
  color: white;
}
