.mapboxgl-popup {
  max-width: 200px;
  display: flex;
  justify-content: space-between;
}

.mapboxgl-popup-content {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}

#map {
  position: sticky;
  top: 9vh;
  width: 100%;
  height: 91vmin;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 5px;
}

.marker {
  color: orange;
  background-color: orange;
}
